<hr>
<footer>
  <nav>
    <ul class="nav nav-pills pull-left">
        <li><%= link_to "Home", root_path %></li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li>&copy;NotungDev 2016</li>
    </ul>
  </nav>
</footer>
